language: go
go:
- 1.3.3
- tip
matrix:
  fast_finish: true
env:
  global:
    secure: "pcoBr8dGAqrfeNhWHH/u0ZtiT5GJnQi0ggHmXUxDdjhe9QCZ9Pjeg+0gSspWg7DyCeWjtsSloQ0scSb7xWxtLCOes6rJ2hjZ0W8S5X1oc8Bs2BOebh4ECFIpJOt+uoslxfLMz+tUlDGjmaRj77h1b+7kS7Rdjo+scFWZ0WQ+B1M="
install:
- export GOBIN=$HOME/bin
- export PATH=$GOBIN:$PATH
- go get code.google.com/p/go.tools/cmd/vet code.google.com/p/go.tools/cmd/cover github.com/mattn/goveralls github.com/modocache/gover
- go get -t -v ./...
- go install -a -race std
script:
- go tool vet -all .
- go build ./...
- go test -race -v ./...
- go list -f '{{if len .TestGoFiles}}"go test -coverprofile={{.Dir}}/.coverprofile {{.ImportPath}}"{{end}}' ./... | xargs sh -c
- gover
- goveralls -coverprofile=gover.coverprofile -service=travis-ci -repotoken $COVERALLS_TOKEN
